<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1><%= title %> A </h1>
		<p>Welcome to <%= title %></p>
		<video id="video" class="video-block" autoplay></video>
	</body>
	<script type="text/javascript" src="javascripts/webrtc/adapter.js"></script>
	<script type="text/javascript" src="javascripts/webrtc/uuid.js"></script>
	<script type="text/javascript" src="javascripts/webrtc/capture.js"></script>
	<script type="text/javascript" src="javascripts/ajax.js"></script>
	<script type="text/javascript" src="javascripts/webrtc/webrtc.class.js"></script>
	<script type="text/javascript" src="javascripts/chat.js"></script>

	<script type="text/javascript">
		var capture = new Capture();
		var device = new Device('a');
		device.monitor();
		capture.capture({isAudio : false}).then(({uri, stream}) => {
			console.log(stream);
			document.getElementById('video').src = uri;

			device.call('b', stream);
		}, (error) => {
			console.error(error);
		})
	</script>
</html>
